%p
  New Broker Payment

%form{:action => "/broker_payments/create", :method => "post"}
  %p
    %label{:for => "amount"}
      Amount
    %br
    %input{:type => "number", :step => "any", :name => "amount"}
  %p
    %label{:for => "payment_type"}
      Payment Type
    %br
    %input{:type => "text", :name => "payment_type"}
  %p
    %label{:for => "status"}
      Status
    %br
    %input{:type => "text", :name => "status"}

  %p
    %input{:type => "submit", :value => "Create Broker Payment", :class => "button"}