%p
  New Bid

%form{:action => "/bids/create", :method => "post"}
  %p
    %label{:for => "event_id"}
      Event Id
    %br
    %input{:type => "text", :name => "event_id"}
  %p
    %label{:for => "user_id"}
      User Id
    %br
    %input{:type => "text", :name => "user_id"}
  %p
    %label{:for => "venue_group_id"}
      Venue Group Id
    %br
    %input{:type => "text", :name => "venue_group_id"}
  %p
    %label{:for => "price"}
      Price
    %br
    %input{:type => "number", :step => "any", :name => "price"}
  %p
    %label{:for => "quantity"}
      Quantity
    %br
    %input{:type => "text", :name => "quantity"}
  %p
    %label{:for => "proxy"}
      Proxy
    %br
    %input{:type => "number", :step => "any", :name => "proxy"}
  %p
    %label{:for => "expires_at"}
      Expires At (format: 12/12/1999 16:39:11.642)
    %br
    %input{:type => "text", :name => "expires_at"}
  %p
    %label{:for => "cancel_others"}
      Cancel Others
    %br
    %input{:type => "checkbox", :name => "cancel_others"}
  %p
    %label{:for => "status"}
      Status
    %br
    %input{:type => "text", :name => "status"}
  %p
    %label{:for => "in_hand_date"}
      In Hand Date (format: 12/12/1999)
    %br
    %input{:type => "text", :name => "in_hand_date"}
  %p
    %label{:for => "is_negotiation"}
      Is Negotiation
    %br
    %input{:type => "checkbox", :name => "is_negotiation"}
  %p
    %label{:for => "expected_ship_date"}
      Expected Ship Date (format: 12/12/1999)
    %br
    %input{:type => "text", :name => "expected_ship_date"}

  %p
    %input{:type => "submit", :value => "Create Bid", :class => "button"}