%p
  %a{:href => "/users/index"}
    Users
%p
  %a{:href => "/user_groups/index"}
    User Groups
%p
  %a{:href => "/addresses/index"}
    Addresses
%p
  %a{:href => "/affiliate_details/index"}
    Affiliate Details
%p
  %a{:href => "/affiliate_payments/index"}
    Affiliate Payments
%p
  %a{:href => "/affiliate_payments_sales/index"}
    Affiliate Payments Sales
%p
  %a{:href => "/bid_ticket_types/index"}
    Bid Ticket Types
%p
  %a{:href => "/bids/index"}
    Bids
%p
  %a{:href => "/broker_details/index"}
    Broker Details
%p
  %a{:href => "/broker_payments/index"}
    Broker Payments
%p
  %a{:href => "/broker_payments_sales/index"}
    Broker Payments Sales
%p
  %a{:href => "/coupon_codes/index"}
    Coupon Codes