%p
  New Affiliate Payment

%form{:action => "/affiliate_payments/create", :method => "post"}
  %p
    %label{:for => "user_id"}
      User id
    %br
    %input#user_id{:type => "text", :name => "user_id"}
  %p
    %label{:for => "amount"}
      Amount
    %br
    %input{:type => "number", :step => "any", :name => "amount"}
  %p
    %label{:for => "affiliate_type"}
      Affiliate Type
    %br
    %input{:type => "text", :name => "affiliate_type"}
  %p
    %label{:for => "status"}
      Status
    %br
    %input{:type => "text", :name => "status"}

  %p
    %input{:type => "submit", :value => "Create Affiliate Payment", :class => "button"}