!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}

  %body
    %h1
      Slicket Ticket Account Password Reset
    %p
      Your password has been successfully changed. If you did not request this please contact Slicket Ticket Support.