!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}

  %body
    %h1
      Slicket Ticket Sale Pending for #{@params[:event_name]}
    %p
      A bidder has accepted your offer of #{@params[:price]}. Please return to Slicket Ticket.com to respond and confirm this sale.