!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}

  %body
    %h1
      Slicket Ticket Account Password Reset
    %p
      %a{:href => @params[:url]}
        Click Here
      to reset your password.