!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}

  %body
    %h1
      Slicket Ticket Negotition for #{@params[:event_name]}
    %p
      The sellers response to your negotiation offer of #{@params[:price]}. Please return to Slicket Ticket.com to respond to this negotiation bid.