!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}

  %body
    %h1
      Welcome to SlicketTicket.com #{@params[:first_name]}
    %p
      You have successfully signed up to SlicketTicket.com.
    %p
      Thanks for joining and have a great day!